/* Product page */

.product-page .main .container {
    margin-bottom: 70px;
    margin-top: 70px;
}

.product-page .product-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}

.product-page .product-info-photo {
    width: 578px;
    max-height: 740px;
    text-align: center;
}

.product-info .product-info-photo img {
    max-width: 478px;
    display: inline-block;
}

.product-info-name {
    line-height: 39px;
    font-weight: 600;
    font-size: 32px;
}

.product-info-price {
    line-height: 39px;
    font-weight: 600;
    font-size: 32px;
}

.product-info-head {
    margin-bottom: 30px;
}

.product-info-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 10px;
}

.color-pannel {
    display: flex;
    flex-flow: row wrap;
}

.cp:not(:last-child) {
    margin-right: 16px;
}

.cp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.cp.active {
    border: 2px solid black;
}

.cp.cp-fair {
    background-color: #eae2d7;
}

.cp.cp-pink {
    background-color: #ffc1cc;
}

.cp.cp-purple {
    background-color: #c289e4;
}

.cp.cp-lightgreen {
    background-color: #a4e770;
}

.cp.cp-red {
    background-color: #ed1f1f;
}

.product-color {
    margin-bottom: 30px;
}

.product-wick {
    margin-bottom: 30px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #fff5e8;
    color: black;
    width: 340px;
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    border: none;
    cursor: pointer;
    position: relative;
    background-image: url(../img/dropbtnicon.svg);
    background-repeat: no-repeat;
    background-position: right 25px center;
}

.dropbtn-text {
    margin-left: 21px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #f2d0a4;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff5e8;
    color: black;
    width: 340px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    border: none;
    cursor: pointer;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f2d0a4;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.product-fragnance {
    margin-bottom: 30px;
}

.product-info-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 448px;
    margin-bottom: 20px;
}

.info-description-name {
    font-weight: 500;
}

.product-info-parametrs {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}

.info-parametrs-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.product-info-buttons {
    position: relative;
}

.product-buy-button {
    background-color: #fff;
    width: 177px;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.product-buy-button:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 5px #000;
}

.product-favorite-button {
    background-color: inherit;
    border: none;
    width: 27px;
    height: 25px;
    margin-left: 36px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
}

/* Схожі товари */

.similar-products-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}

.product-page .product-cards-row {
    margin: 0;
}

.goonbtn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
}

.product-page-goonbtn {
    position: relative;
    background-color: #fff;
    width: 177px;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.product-page-goonbtn:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 5px #000;
}

.product-card {
    position: relative;
    width: 270px;
    height: 403px;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    box-sizing: border-box;
}

.store-flex {
    display: flex;
}

.product-cards-row {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Для Firefox */
    -ms-overflow-style: none; /* Для IE и Edge */
    gap: 13px;
}

.product-cards-row::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari и Opera */
}

.product-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.products-block {
    margin-bottom: 80px;
    margin-top: 38px;
}

.product-card-img {
    max-width: 150px;
    max-height: 200px;
    padding: 37px 60px 0 60px;
}

.heart-icon {
    position: absolute;
    top: 15px;
    right: 19px;
    z-index: 1;
    cursor: pointer;
}

.heart-icon-svg {
  width: 24px;
  height: 22px;
  transition: all 0.3s;
  z-index: 2;
  cursor: pointer;
}

.heart-icon-svg:hover {
  fill: #EE204D;
}

@keyframes heartPulse {
  0% {
      transform: scale(1.2);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}

.heart-icon-svg:active {
  animation: heartPulse 0.8s ease;
}

.product-card-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

.product-card-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-bottom: 10px;
}

.product-card-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-bottom: 33px;
}

.product-card-price {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.cart-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.cart-icon:hover {
    box-shadow: 0 5px 15px #f2d1a6;
}

.cart-icon-svg {
    width: 60px;
    height: 40px;
}

.cart {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #f2d1a6;
    transition: 0.1s;
    cursor: pointer;
    position: fixed; /* Фиксированное расположение */
    bottom: 50px; /* в левом нижнем углу */
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 15px;
    border: solid 2px #000;
    z-index: 99999;
}

/* Увеличиваем кнопку при наведении на нее */
.cart:hover {
    transform: scale(1.1);
}

/* Стилизуем счетчик товаров */
.cart__num {
    position: absolute;
    background-color: #d62240;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.33); /* Небольшое затемнение на фоне */
    z-index: 1000; /* Поверх всех окон */
    width: 100%;
    height: 100%;
    display: none; /* По умолчанию скрываем окно */
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow-y: scroll;
}

/* Стилизация контейнера окна */
.popup__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем элементы внутри равномерно */
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
}

/* Элементы окна (заголовок, список товаров, вывод стоимости) */
.popup__item {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.product-list {
    max-height: 520px;
    overflow-y: auto;
}

.popup__item:last-of-type {
    border-bottom: none;
}

.popup__title {
    font-size: 20px;
}

/* Стили для вывода товара */
.popup__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.popup__product-wrap {
    display: flex;
    align-items: center;
}

.popup__product-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px;
}

.popup__product-title {
    max-width: 300px;
    font-weight: 500;
}

.popup__product-price {
    font-size: 18px;
    margin-right: 15px;
    margin-left: 15px;
}

.popup__product-quantity-minus,
.popup__product-quantity-plus {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup__product-quantity-minus:hover,
.popup__product-quantity-plus:hover {
    background-color: #f8f8f8;
}

.popup__product-quantity-minus:active,
.popup__product-quantity-plus:active {
    background-color: #e5e5e5;
}

/* Стили для кнопки удаления товара */
.popup__product-delete {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    color: #d62240;
    background-color: transparent;
    border: 0px;
}

/* Стили для вывода стоимости товаров */
.popup__cost {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.popup__total {
    display: flex;
    align-items: center;
}

.popup__cost-title {
    margin-right: 15px;
    font-size: 20px;
    color: #000;
    text-align: right;
}

.popup__cost-value {
    font-size: 20px;
}

/* Стили для кнопки закрытия окна */
.popup__close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 20px;
    color: rgba(54, 67, 100, 0.7);
    font-size: 20px;
}

.popup__close:hover {
    color: rgb(54, 67, 100);
}

.popup--open {
    display: flex;
}

.popup__checkout-button {
    color: black;
    border: 1px solid black;
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
}
.popup__checkout-button:hover {
    background: black;
    color: white;
}

/* Обрані */

.favorite {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #f2d1a6;
    transition: 0.1s;
    cursor: pointer;
    position: fixed; /* Фиксированное расположение */
    bottom: 150px; /* в левом нижнем углу */
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 15px;
    border: solid 2px #000;
    z-index: 99999;
}

.favorite:hover {
    transform: scale(1.1);
}

.popup_favorite {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow-y: scroll;
}

.popup_favorite--open {
    display: flex;
}

.popup_favorite__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем элементы внутри равномерно */
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
}

.popup_favorite__item {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.favorite_product-list {
    max-height: 520px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.popup_favorite__title {
    font-size: 20px;
}

.popup_favorite__close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 20px;
    color: rgba(54, 67, 100, 0.7);
    font-size: 20px;
}

.popup_favorite__close:hover {
    color: rgb(54, 67, 100);
}

.popup_favorite__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.popup_favorite__product img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px;
}

.popup_favorite__product-wrap {
    display: flex;
    align-items: center;
}

.popup_favorite__product-title {
    max-width: 300px;
    font-weight: 500;
}

.popup_favorite__product-price {
    font-size: 18px;
    margin-right: 15px;
    margin-left: 15px;
}

.popup_favorite__item p,
.popup__item p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.popup__product-title {
    font-size: 1.5em;
    max-width: 300px;
    font-weight: 500;
    color: inherit; 
    text-decoration: none; 
}


@media (max-width: 900px) {
    .product-page .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 70px;
    }

    .container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .product-page .product-info-photo {
        width: 578px;
        max-height: 740px;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 420px) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .product-page .product-info {
        margin-bottom: 30px;
    }

    .product-page .product-info-photo {
        width: 300px;
        max-height: 500px;
        text-align: center;
        margin-bottom: 20px;
    }

    .product-info-name {
        font-size: 24px;
    }

    .product-info-price {
        font-size: 24px;
    }

    .product-info-head {
        margin-bottom: 10px;
    }

    .product-info-title {
        font-size: 18px;
        padding-bottom: 5px;
    }

    .cp {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ccc;
        border: 2px solid transparent;
        cursor: pointer;
        transition: all 0.3s;
    }

    .product-color {
        margin-bottom: 15px;
    }

    .product-wick {
        margin-bottom: 15px;
    }

    /* Dropdown Button */
    .dropbtn {
        max-width: 280px;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        width: 280px;
    }

    .product-fragnance {
        margin-bottom: 15px;
    }

    .similar-products-title {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .product-page .product-cards-row {
        margin: 0;
    }

    .similar-products-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
}
